<div class="full-height">
  <div class="row script-header">
    <div class="col-sm-4">
      Save
    </div>
    <div class="col-sm-8">
      Run
    </div>
  </div>
  <div class="row full-height">
    <div class="col-sm-4 script-list full-height">
        <li>
          <a>Hello</a>
        </li>
    </div>
    <div class="col-sm-8 full-height">
      <ace-editor
        [text]="text"
        [mode] = "'r'"
        [theme] = "'xcode'"
        #editor></ace-editor>
    </div>

  </div>


  
</div>





