body, html{
  height: 100%;
}

.aceEditorDirective {
  margin-top: 50px;
  min-height: 200px;
  width: 100%;
  overflow: auto;
}

.script-list{
  border-right: 2px solid #fff;
}

.full-height{
  height: 100%;
}

.script-header{
  height: 50px;
}

.text-right{
  text-align: right;
}

ace-editor{
  height: 700px;
}

input{
  border: 0;
  border-bottom: 1px solid #ccc;
}

input.full-width{
  width: 100%;
}

.full-width{
  width: 100%;
}

#console{
  margin-top: 15px;
}

.console-output{
  display: inline-block;
  margin-top: 10px;
  color: orange;
}

#console-output{
  overflow: auto;
  height: 100px;
}
