<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">{{ title }}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fermes" routerLinkActive="active">Fermes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scripts" routerLinkActive="active">Scripts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fichiers" routerLinkActive="active">Fichiers</a>
      </li>
    </ul>
  </div>
</nav>


<div class="main full-height">

  <router-outlet></router-outlet>
</div>

