<div>
    <div>
        <div>
            <h4><input class="infowindow" type="text" placeholder="Titre" ng-value="currentmarker.title"/></h4>
        </div>
        <div class="coord infowindow" title="Latitude, Longitude">
            <div style="padding-bottom: 3px;">
                {{currentMarker.getlatLngString()}}
            </div>
            <div title="EPSG:26918, NAD83 / UTM zone 18N">
                {{currentMarker.getUtmString()}}
            </div>
        </div>

    </div>
    <div class="textarea infowindow">
        <textarea placeholder="Note" style="width: 100%;" name="" rows="3">{{currentMarker.note}}</textarea>
    </div>

    <div class="row infowindow">
            <div class="dropup col-sm-5 infowindow">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    Couleur
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li ng-repeat="color in markerColor">
                        <a href="#" ng-click="changeMarkerIcon($index)" ng-style="{'background-color' : color.code}" >{{color.couleur}}</a>
                    </li>
                </ul>
            </div>
        <div class="col-sm-5 col-sm-offset-2 infowindow">
            <button class="btn btn-danger btn-delete" title="Supprimer"><span class="glyphicon glyphicon-trash"></span> </button>
            <button class="btn btn-success btn-save" title="Sauvegarder"><span class="glyphicon glyphicon-floppy-save"></span></button>
        </div>
    </div>

</div>

