input.infowindow{
    border: 0;
    height: 25px;
}

textarea{
    font-family: serif;
}

.row.infowindow{
    padding-top: 10px ;
    margin: 0;
}

.col-sm-5.col-sm-offset-2.infowindow{
    text-align: right;
    padding: 0;
}

.col-sm-5.infowindow{
    padding: 0;
}

.textarea.infowindow{
    width: 100%;
    padding-top: 10px;
}

.coord.infowindow{
    font-weight: 100;
    font-size: 12px;
    padding: 2px;
}

.color-link.infowindow{
    padding-left: 10px;
    padding-right: 10px;
}

.color-container.infowindow{
    height: 20px;
    width: 100%;
    border-radius: 5px;
}

.color-container.infowindow:hover{
    border: 2px solid #DDE1E4;
}

/*padding: 0;*/
/*margin-left: 10px;*/
/*margin-right: 10px;*/
/*margin-top: 5px;*/
/*margin-bottom: 5px;*/
/*border-radius: 3px;*/