<div class="wrapper">
  <header>
    <div class="row">
      <div class="col-sm-3">
        <template [ngIf]="scripsData?.length > 0">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{scripsData[indexSelectedScript].name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let script of scripsData; let i = index"
                 class="dropdown-item"

                 [class.active]="isSelected(script)">

                <div class="d-flex w-100 justify-content-between">
                  <div  (click)="selectScript(i)" style="width: 100%; padding-top: 6px">
                    {{script.name}}
                  </div>

                  <button class="btn btn-link" (click)="removeScript(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
              </a>
            </div>
          </div>
        </template>
      </div>

      <div class="col-sm-3">
        <template [ngIf]="scripsData?.length > 0">
          <input class="full-width" [(ngModel)] = "scripsData[indexSelectedScript].name"/>
        </template>
      </div>

      <div class="col-sm-6">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary" title="Sauvegarder" (click)="saveScripts()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-secondary" title="Nouveau" (click)="newScript()"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <a type="button" class="btn btn-secondary" title="Information" href="http://doc.canneberge.io/r.html" target="_blank" ><i class="fa fa-info" aria-hidden="true"></i></a>
          <button type="button" class="btn btn-secondary" title="Exécuter" (click)="executeFile()"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
      </div>

    </div>
  </header>

  <main>
    <div class="row full-height full-width">
      <div class="col-sm-6 script-list">
        <ace-editor
          [(text)] = "code"
          (textChanged)="updateCode()"
          [mode] = "'r'"
          [theme] = "'xcode'"
          #editor></ace-editor>
      </div>

      <div class="col-sm-6">
        <iframe *ngIf="showIFrame" class="full-width full-height" [src]='urlIFrame'></iframe>
      </div>

    </div>
  </main>
</div>





