<div class="container">
  <!--Sidebar content-->
  <!--<div class="row">-->
    <!--<div class="col-sm-5">-->
      <!--<button routerLink="nouveau" class="btn btn-outline-primary add-btn">Nouveau</button>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row" style="padding-top: 50px">
    <div class="col-sm-5">
      <a class="list-group-item list-group-item-action flex-column align-items-start"
         *ngFor="let user of users | sortBy : 'lastname'"
         [class.active]="isSelected(user)"
         (click)="onSelectUser(user)">
        <div class="d-flex w-100 justify-content-between">
          <h5 style="width: auto">{{user.firstname}} {{user.lastname}}</h5>
          <div>
            <span *ngIf="user.authorization.admin" title="Administrateur" class="badge badge-default badge-pill">A</span>
            <span *ngIf="user.authorization.blocked" title="Bloquer" class="badge badge-danger badge-pill">B</span>
          </div>
        </div>
        <p>
          {{ user.username }} <br>
          {{ user.email}}
        </p>
      </a>
    </div>
    <div class="col-sm-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
