<div class="container">
  <!--Sidebar content-->
  <div class="row">
    <div class="col-sm-5">
      <button routerLink="nouveau" class="btn btn-outline-primary add-btn">Nouveau</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <a class="list-group-item list-group-item-action flex-column align-items-start"
         *ngFor="let user of users | sortBy : 'lastname'"
         [class.active]="isSelected(user)"
         (click)="onSelectUser(user)">
        <div class="d-flex w-100 justify-content-between">
          <h5 style="width: auto">{{user.firstname}} {{user.lastname}}</h5>
          <span *ngIf="user.admin" class="badge badge-default badge-pill">A</span>
        </div>
        <p>{{ user.username }}</p>

      </a>
    </div>
    <div class="col-sm-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
