<div class="container main">
  <form>
    <div class="row">
      <div class="form-group col">
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname"
               required
               [(ngModel)]="user.firstname" name="firstname">
      </div>

      <div class="form-group col">
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname"
               required
               [(ngModel)]="user.lastname" name="lastname">
      </div>
    </div>

    <div class="form-group">
      <label for="email">Courriel</label>
      <input type="text" class="form-control" id="email"
             required
             [(ngModel)]="user.email" name="email">
    </div>
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="username"
             required
             [(ngModel)]="user.username" name="username">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"
               [(ngModel)]="user.authorization.admin" name="admin">
        Administrateur
      </label>
    </div>

    <div *ngIf="!user.authorization.admin" class="form-group">
      <label for="exampleSelect2">Ferme, (Ctrl + Click)</label>
      <select multiple class="form-control select-multiple" id="exampleSelect2" name="ferme" [(ngModel)]="user.authorization.fermes" >
        <option *ngFor="let ferme of listFermes"
                [ngValue]="{name : ferme.name, _id : ferme._id}">{{ferme.name}}</option>
      </select>
    </div>




    <div class="footer-btn">
      <div style="float: right">
        <button (click)="returnUsersList()" type="button" class="btn btn-outline-secondary">Annuler</button>
        <button (click)="saveNewUser()" type="submit" class="btn btn-outline-success">Confirmer</button>
      </div>
    </div>
  </form>
</div>
