<div class="container">

  <div class="row">

    <div class="col-sm-10">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" >
          <a href="javascript:void(0)"
             (click)="clickFolder('/')"
             (drop)="onDrop($event, '/')"
             (dragover)="$event.preventDefault()">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </li>
        <li *ngFor="let folder of currentPathList; let i = index;"
            (click)="clickFolder(folder.path)"
            class="breadcrumb-item">
          <a href="javascript:void(0)"
             (drop)="onDrop($event, folder.path)"
             (dragenter)="dragEnter_handler($event, folder.path)"
             (dragleave)="onDragLeave($event, folder.path)"
             (dragover)="$event.preventDefault()">{{folder.name}}</a>
        </li>
      </ol>
    </div>

    <div class="col-sm-2" id="button-bar">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" title="Nouveau dossier" (click)="clickNewFolder()"><i class="fa fa-folder" aria-hidden="true"></i></button>
        <input #newFileInput type="file" style="display: none" (change)="fileSelected($event)">
        <button type="button" class="btn btn-secondary" title="Ajouter un fichier" (click)="addFile(newFileInput)" ><i class="fa fa-file" aria-hidden="true"></i></button>
      </div>
    </div>

  </div>


  <div class="list-group">
    <div *ngFor="let file of listFiles | sortBy : 'name'"
         (mouseleave)="file.show = false"
         [class.folder] = "isAFolder(file.name)"
         [class.file] = "!isAFolder(file.name)"
         [class.hover-file] = "isHover(file.path)"
         (mouseenter)="onMouseEnter(file.path); file.show = true;"
         draggable="true"
         (dragstart)="dragStart_handler($event, file.name)"
         (dragend)="dragEnd_handler($event)"
         (dragenter)="dragEnter_handler($event, file.path)"
         (dragleave)="onDragLeave($event, file.path)"
         (drop)="onDrop($event, file.path)"
         (dragover)="$event.preventDefault()"
         class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div (click)="clickFolder(file.path)" style="width: 100%; padding-top: 6px">
          {{file.name}}
        </div>
        <div style="width: 250px; text-align: right" [ngClass]="{invisible : !file.show}">
          <button class="btn btn-link" (click)="getInfopath(file.path)"><i class="fa fa-info" aria-hidden="true"></i></button>
          <button class="btn btn-link" (click)="popUpRename(file.name)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-link remove" (click)="clickRemoveWithPath(file.path)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>

</div>
