<div>
    <div>
        <div>
            <h4><input class="infowindow" type="text" placeholder="Titre" ng-model="currentMarkerDescritor.title"/></h4>
        </div>
        <div class="coord infowindow" title="Latitude, Longitude" style="min-height: 25px;">
            <div style="padding-bottom: 3px;">
                {{markerFunction.getLatLngString(currentMarkerDescritor)}}
            </div>
            <div title="EPSG:26918, NAD83 / UTM zone 18N">
                {{markerFunction.getUtmString(currentMarkerDescritor)}}
            </div>
        </div>

    </div>
    <div class="textarea infowindow">
        <textarea placeholder="Note" style="width: 100%;" rows="4" ng-model="currentMarkerDescritor.note"></textarea>
    </div>

    <div class="row infowindow">
            <div class="dropup col-sm-5 infowindow">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    Couleur
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li ng-repeat="color in markerColor">
                        <a class="color-link infowindow" href="#" ng-click="changeMarkerIcon(color)"  >
                            <div class="infowindow color-container" ng-style="{'background-color' : color.code}"></div>
                        </a>
                    </li>
                </ul>
            </div>
        <div class="col-sm-5 col-sm-offset-2 infowindow">
            <button class="btn btn-danger btn-delete" title="Supprimer" ng-click="deleteMarker()"><span class="glyphicon glyphicon-trash"></span> </button>
        </div>
    </div>

</div>

